__pycache__/model.cpython-310.pyc
VisualizationFigures/AgebarGraph.png
VisualizationFigures/AgeBoxPlot.png
VisualizationFigures/AgePieChart.png
VisualizationFigures/FamilyBarChart.png
VisualizationFigures/FamilyHist.png
VisualizationFigures/FamilyPie.png
VisualizationFigures/FamilySizeBoxplot.png
VisualizationFigures/genderBarChart.png
VisualizationFigures/genderPieChart.png
VisualizationFigures/GraduatedBoxplot.png
VisualizationFigures/GraduatedHistogram.png
VisualizationFigures/GraduationBargraph.png
VisualizationFigures/GraduationPieChart.png
VisualizationFigures/HeatmapOfCountOfSpendingScoreByAgeAndGender.png
VisualizationFigures/HeatmapOfCountOfSpendingScoreByProfessionAndMarriage.png
VisualizationFigures/HeatmapOfEntireData.png
VisualizationFigures/HeatmapOfMeanSpendingScore.png
VisualizationFigures/HeatmapOfSomeFeature.png
VisualizationFigures/MarriageBarChart.png
VisualizationFigures/Marriagepie.png
VisualizationFigures/ProfessionBarPlot.png
VisualizationFigures/ProfessionBoxplot.png
VisualizationFigures/ProfessionPieChart.png
VisualizationFigures/ScatterAgeXProfession.png
VisualizationFigures/SpendingBar.png
VisualizationFigures/SpendingPie.png
VisualizationFigures/SpendingSCoreBoxplot.png
VisualizationFigures/WorkExperienceBoxplot.png
RFM_Table.csv
summary_stats.csv
Unique_Counts_Of_Labels.csv
requirements.txt
