<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Customer Segmentation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Customer Segmentation</h1>
        
        <button class="common-button" onclick="window.location.href='{{ url_for('options') }}'">Click here to continue</button>

    </div>
</body>
</html>
